@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

.wrapper {
  display: flex;
  flex-direction: row;
  font-family: 'Mulish', sans-serif;
  max-width: 1170px;
  margin: 0 auto;
}

.contacts {
  min-width: 400px;
}
