@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

.wrapper {
  display: flex;
  flex-direction: row;
  font-family: 'Mulish', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

@media (width < 600px) and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }
  .contacts {
    width: 100vh;
    max-width: 100%;
  }
  .chatWrapper {
    display: none;
  }

  .showContactsButton {
    display: block;
  }
}
@media (height < 600px) and (orientation: landscape) {
  .wrapper {
    flex-direction: column;
  }
  .contacts {
    width: 100vw;
    max-width: 100%;
  }
  .chatWrapper {
    display: none;
    overflow-y: hidden;
  }

  .showContactsButton {
    display: block;
  }
}
